{% extends 'base_jefe.html' %}
{% load widget_tweaks %}
{% block titulo %}
Agregar Proyecto
{% endblock %}

{% block navigation %}
	<ol class="breadcrumb">
		<li><a href="{% url 'proyectos' %}"><span class="icon-home"></span> </a></li>
  		<li><a href="{% url 'proyectos' %}">Proyectos</a></li>
  		<li class="active">Editar</li>
	</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-11 col-md-offset-1 titulo">
		<p>
			<span class="icon-book"></span>
			 Editar Proyecto
		</p>
	</div>
</div>
{% if messages %}
			<div class="row">
				<div class="col-md-1"></div>
		        <div class="col-md-10">
		            {% for message in messages %}
		            <div class="alert alert-danger {{ message.tags }} ">
		                {{ message|safe }}
		            </div>
		            {% endfor %}
		        </div>
				<div class="col-md-1"></div>

	    	</div>
{% endif %}
<div class="row">
	<div class="col-md-3 col-md-offset-8">
		<a href="{% url 'proyectos' %}" class="btn btn-danger">
			Cancelar
		</a>
	</div>
</div>
<div class="col-md-6 col-md-offset-3">

	<form role="form" action="" method="POST">
	{% csrf_token %}
	{% if form.nombre.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.nombre.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.nombre.label_tag }}
		{{ form.nombre|attr:"class: form-control" }}
	</div>
	{% if form.fecha_de_inicio.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.fecha_de_inicio.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.fecha_de_inicio.label_tag }}
		<input class ="form-control"  type="date" id="id_fecha_de_inicio" name="fecha_de_inicio" value="{{ form.fecha_de_inicio.value|date:'Y-m-d' }}">
	</div>
	{% if form.costo.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.costo.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.costo.label_tag }}
		{{ form.costo|attr:"class: form-control" }}
	</div>
	{% if form.objetivo.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.objetivo.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.objetivo.label_tag }}
		{{ form.objetivo|attr:"class: form-control" }}
	</div>
	{% if form.descripcion.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.descripcion.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.descripcion.label_tag }}
		{{ form.descripcion|attr:"class: form-control" }}
	</div>
	{% if form.cliente.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.cliente.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.cliente.label_tag }}
		{{ form.cliente|attr:"class: form-control" }}
	</div>
	{% if form.estado.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.estado.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.estado.label_tag }}
		{{ form.estado|attr:"class: form-control" }}
	</div>
	<div class="row">
		<div class="col-md-3">
			<input type="submit" class="btn btn-success" value="Agregar">
		</div>
		
	</div>
</div>


{% endblock %}


