{% extends 'base_jefe.html' %}
{% load widget_tweaks %}
{% block titulo %}
Editar Requerimiento
{% endblock %}

{% block navigation %}
	<ol class="breadcrumb">
		<li><a href="{% url 'proyectos' %}"><span class="icon-home"></span> </a></li>
  		<li>Requerimiento</li>
  		<li class="active">Editar</li>
	</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-11 col-md-offset-1 titulo">
		<p>
			<span class="icon-stack"></span>
			 Editar Requerimiento
		</p>
	</div>
</div>
{% if messages %}
			<div class="row">
				<div class="col-md-1"></div>
		        <div class="col-md-10">
		            {% for message in messages %}
		            <div class="alert alert-danger {{ message.tags }} ">
		                {{ message|safe }}
		            </div>
		            {% endfor %}
		        </div>
				<div class="col-md-1"></div>

	    	</div>
{% endif %}
<div class="row">
	<div class="col-md-3 col-md-offset-8">
		<a href="{% url 'proyectos' %}" class="btn btn-danger">
			Cancelar
		</a>
	</div>
</div>
<div class="col-md-6 col-md-offset-3">

	<form role="form" action="" method="POST">
	{% csrf_token %}
	{% if form.identificador.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.identificador.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.identificador.label_tag }}
		{{ form.identificador|attr:"class: form-control" }}
	</div>
	{% if form.descripcion.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.descripcion.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.descripcion.label_tag }}
		{{ form.descripcion|attr:"class: form-control" }}
	</div>
	{% if form.tipo.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.tipo.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.tipo.label_tag }}
		{{ form.tipo|attr:"class: form-control" }}
	</div>
	{% if form.estado.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.estado.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.estado.label_tag }}
		{{ form.estado|attr:"class: form-control" }}
	</div>

	{% if form.fecha_de_inicio.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.fecha_de_inicio.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.fecha_de_inicio.label_tag }}
		<input class ="form-control" type="date" id="id_fecha_de_inicio" name="fecha_de_inicio" value="{{ form.fecha_de_inicio.value|date:'Y-m-d' }}">
	</div>
	{% if form.fecha_de_termino.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.fecha_de_termino.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.fecha_de_termino.label_tag }}
		<input class ="form-control" type="date" id="id_fecha_de_termino" name="fecha_de_termino" value="{{ form.fecha_de_termino.value|date:'Y-m-d' }}">
	</div>
	{% if form.madurez.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.madurez.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.madurez.label_tag }}
		{{ form.madurez|attr:"class: form-control" }}
	</div>
	{% if form.volatilidad.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.volatilidad.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.volatilidad.label_tag }}
		{{ form.volatilidad|attr:"class: form-control" }}
	</div>

	{% if form.complejidad.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.complejidad.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.complejidad.label_tag }}
		{{ form.complejidad|attr:"class: form-control" }}
	</div>

	{% if form.prioridad.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.prioridad.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.prioridad.label_tag }}
		{{ form.prioridad|attr:"class: form-control" }}
	</div>

	{% if form.analista_asignado.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.analista_asignado.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.analista_asignado.label_tag }}
		{{ form.analista_asignado|attr:"class: form-control" }}
	</div>
	
	{% if form.iteracion.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.iteracion.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.iteracion.label_tag }}
		{{ form.iteracion|attr:"class: form-control" }}
	</div>

	<div class="row">
		<div class="col-md-3">
			<input type="submit" class="btn btn-success" value="Editar">
		</div>
		
	</div>
</div>


{% endblock %}


