{% extends 'base_jefe.html' %}
{% load widget_tweaks %}
{% block titulo %}
Agregar Requerimiento
{% endblock %}

{% block navigation %}
	<ol class="breadcrumb">
		<li><a href="{% url 'proyectos' %}"><span class="icon-home"></span> </a></li>
  		<li>Requerimiento</li>
  		<li class="active">editar estado</li>
	</ol>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-11 col-md-offset-1 titulo">
		<p>
			<span class="icon-stack"></span>
			 Editar estado requerimiento
		</p>
	</div>
</div>
{% if messages %}
			<div class="row">
				<div class="col-md-1"></div>
		        <div class="col-md-10">
		            {% for message in messages %}
		            <div class="alert alert-danger {{ message.tags }} ">
		                {{ message|safe }}
		            </div>
		            {% endfor %}
		        </div>
				<div class="col-md-1"></div>

	    	</div>
{% endif %}
<div class="row">
	<div class="col-md-3 col-md-offset-8">
		<a href="{% url 'requerimientos-analista' %}" class="btn btn-danger">
			Cancelar
		</a>
	</div>
</div>
<div class="col-md-6 col-md-offset-3">

	<form role="form" action="" method="POST">
	{% csrf_token %}
	{% if form.requerimiento.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.requerimiento.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.requerimiento.label_tag }}
		{{ form.requerimiento|attr:"class: form-control" }}
	</div>
	{% if form.estado.errors %}
	<div class="form-group">
		<div class="alert alert-danger">
			{{ form.estado.errors }}
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		{{ form.estado.label_tag }}
		{{ form.estado|attr:"class: form-control" }}
	</div>

	<div class="row">
		<div class="col-md-3">
			<input type="submit" class="btn btn-success" value="Cambiar">
		</div>
		
	</div>
</div>


{% endblock %}


