{% extends 'base_jefe.html' %}
{% load widget_tweaks %}

{% block usuario %}
    <a id="logout"  href="{% url 'logout' %}">Cerrar Sesión</a>
{% endblock %}

{% block titulo %}
Proyectos
{% endblock %}

{% block navigation %}
	<ol class="breadcrumb">
		<li><a href=""><span class="icon-home"></span> </a></li>
  		<li class="active">Proyectos</li>
	</ol>
{% endblock %}

{% block barra %}
<ul class="nav nav-pills nav-justified">
    <li class="active"><a href="{% url 'proyectos' %}">Proyectos</a></li>
    <li><a href="{% url 'analistas' %}">Analistas</a></li>
               
</ul>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-9">	
		<p class="titulo"><span class="icon-book"></span> Proyectos</p>
	</div>
	<div class="col-md-3 espacio-2em">
		<a href="{% url 'agregar-proyecto' %}" class="btn btn-primary">			Agregar Proyecto
		</a>
	</div>
</div>



{% if messages %}
        <div class="row">
        <div class="col-md-1"></div>
        {% for status in messages %}
            <div class="col-md-10">
                <div class="alert alert-{{status.tags}} alert-dismissable">{{status}}</div>
            </div>
        {% endfor %}
        <div class="col-md-1"></div>

        </div>
        <br>
    {% endif %}
<div class="row">
	<div class="col-md-10 col-md-offset-1 espacio-3em">
		<table class="table table-hover">
		<tr>
			<th>
				<span style="padding: 0 1.2em;" class="glyphicon glyphicon-cog"></span>
			</th>
			<th>Id</th>
			<th>Nombre</th>
			<th>Inicio</th>
			<th>Termino</th>
			<th>Costo</th>
			<th>Objetivo</th>
			<th>Descripcion</th>
			<th>Cliente</th>
			<th>Porcentaje</th>
			<th>Estado</th>
			<th>Iteraci&oacutenes</th>
			<th>Requerimientos</th>
			
		</tr>
		{% for proyecto in lista_de_proyectos %}
			<tr>
				<td>

					<div class="btn-group">
				      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span>
				      </button>
				      <ul class="dropdown-menu" role="menu">
				        <li><a href="{% url 'iteraciones' proyecto.pk %}"><span class="glyphicon glyphicon-eye-open">&nbsp</span> Iteraciones</a></li>
				        <li><a href="{% url 'requerimientos' proyecto.pk %}"><span class="glyphicon glyphicon-eye-open">&nbsp</span>Requerimientos</a></li>
				        <li class="divider"></li>
				        <li>
				        	<a href="{% url 'editar-proyecto' proyecto.pk %}">Editar</a>
				        </li>
				        <li>
				        	<a href="{% url 'borrar-proyecto' proyecto.pk %}">Borrar</a>
				        </li>				        
				      </ul>
				    </div>
				</td>
				<td>{{proyecto.pk}}</td>
				<td>{{ proyecto.nombre }}</td>
				<td>{{ proyecto.fecha_de_inicio }}</td>
				<td>{{ proyecto.fecha_de_termino }}</td>
				<td>{{ proyecto.costo|floatformat }}</td>
				<td>{{ proyecto.objetivo }}</td>
				<td>{{ proyecto.descripcion }}</td>
				<td>{{ proyecto.cliente }}</td>
				<td>{{ proyecto.porcentaje }}</td>
				<td>{{ proyecto.get_estado_display }}</td>
				<td>{{ proyecto.nIteraciones }}</td>
				<td>{{ valoralowey }} </td>
			<tr>	
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}

	